<!-- Sidebar -->
<div class="content-wrap">
    <div class="sidebar-content">
        <div>
            {{partial "header/menu.html" . }}
        </div>
        <img src="{{ .Site.BaseURL }}images/profile.jpg" alt = "profile picture" class="logo">
        <h1>Erick Guillén</h1>
        <h2 class="job-description">DevOps Engineer</h2>
        <ul class="tags tags-sidebar">
            {{ range first 5 .Site.Taxonomies.tags.ByCount }}
              <li><a href="/tags/{{ .Name | urlize }}">{{ .Name }}</a> </li>
            {{ end }}
        </ul>
      
    </div>
  </div>
      