/* 
COLOR PALLETE
https://coolors.co
#0A2463 Royal Blue
#FFFAFF White
#D8315B Cherry
#1E1B18 Ernie Black
#496DDB Han Blue
*/

/* Global Styles 
-------------------------------*/
html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body {
    background: #1E1B18;
    color:#FFFAFF;
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px; 
    line-height: 1.5;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}
.icon{
    display: inline-flex;
    width: 16px;
    height: 16px;
    
}
a { 
    color: #496DDB; 
}
a:hover {
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    color: #D8315B;
}
.content-wrap {
    width: 85%;
    margin: 0 auto;
    padding: 20px 0;
}
h3 {
    margin-bottom: 0;
    font-size: 1.75em;
    color:#D8315B;
}

.content { 
    background:#FFFAFF;
    color:#1E1B18;
    margin: 10px;
    border-radius: 5px;
    padding: 15px;
    position:relative;
}

#content h2, h3{
    margin: 20px 0;
}
/* Menu
-------------------------------*/
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size:18px;
    padding:0;
    border-bottom: solid 1px rgb(6, 27, 77);
    display: flex;
    justify-content: flex-start;
}
.navbar li{
    list-style-type: none;
    margin: 15px 10px;
}
.navbar a{
    color:#FFFAFF;
    text-decoration: none;
    padding: 10px 10px;
}
.navbar a:hover{
    background-color: rgba(255, 250, 255, 0.11);
}
.svgLights{
    width: 100%;
}
/* List
-------------------------------*/

.div-list > section {
    border-bottom: 2px outset #FFFAFF;
    padding: 15px 0;
}
.div-list > section:last-of-type {
    border-bottom: none;
}
.posts-list-item-description{
    margin: 4px;
}
/*Pagination
-------------------------*/
.pagination{
    padding: 0px;
    
}
.pagination li{
    display: inline-block;
    
}
.navigation-single{
    display: flex;
    justify-content: space-between;
    padding-top:20px;
}
#meta{
    padding-top: 20px;
}
/* Sidebar
-------------------------------*/
.sidebar { 
    background: #0A2463;
 }
.sidebar-content h1{
    font-size: 2em;
}
.sidebar h1{
    color:#FFFAFF;
}
.sidebar h2{
    color:#FFFAFF;
}
.sidebar h3{
    color:#FFFAFF;
}
.job-description{
    font-size: 20px;
}
.logo{
    height: 100%;
    width: 128px;
    border-radius: 50%;
    border-color: #FFFAFF;
    border: 2px solid;
    margin-top: 10px;
}
.sidebar-content{
    text-align: center;
    margin: auto 0;
}
.tags{
    padding: 0;
    display:flex;
    flex-basis: auto;
    flex-wrap: wrap;
    
}
.tags-sidebar{
    align-items: center;
    justify-content: center;
}
.tags li{
    list-style-type: none;
    background: #496DDB;
    color:#FFFAFF;
    text-decoration: none;
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
    
}
.tags li a{
    color:#FFFAFF;
    text-decoration: none;
}
.tags li a:hover{
    color:#0A2463;
}
/* Chroma
-------------------------------*/

.chroma{
    border-radius: 5px;
    overflow:auto;
   
}
code{
    background-color: #282a36;
    color:#FFFAFF;
    padding: 0 4px;
    border-radius: 3px;
}
/* Responsive
-------------------------------*/
@media screen and (min-width:750px) {
h1{
    font-size:3em;
}
h2{
    font-size:2em;
}
#content{
    margin: 50px 0;
}
/* .grid-container
-------------------------------*/
.content { 
    grid-area: content; 
    margin: 20px;
}
.sidebar { 
    grid-area: sidebar;
 }
.footer { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
      'sidebar content content content content'
    'sidebar footer footer footer footer';
    grid-template-columns: 1.5fr repeat(4,1fr);
    grid-template-rows: auto auto;
    height: 100vh;
}

.grid-container > div {
    padding: 20px 20px;
}
.content-wrap {
    width: 85%;
    margin: 0 auto;
    padding: 200px 0;
}



.chroma{
    padding: 0 0 0 8px;
    max-width: 80%;
    margin: 0 auto;
}

@media screen and (max-width:749px){
    .sidebar{
        margin: 10px;
        border-radius: 5px;
    }
}