/* 
COLOR PALLETE
https://coolors.co
#0A2463 Royal Blue
#FFFAFF White
#D8315B Cherry
#1E1B18 Ernie Black
#496DDB Han Blue
*/

/* Global Styles 
-------------------------------*/
html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body {
    background: #1E1B18;
    color:#FFFAFF;
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px; 
    line-height: 1.5;
}
.svgLights{
    width: 100%;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 200px;
}
a { 
    color: #496DDB; 
}
a:hover {
    text-decoration: none;
}
h1 { 
    font-size:100px;
    line-height: 1;
}
h2 {
  font-size: 45px;  
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
}
.content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 0;
    color:#D8315B;
}
.item-details h3 + p {
    font-style: italic;
}
h3 + p {
    font-style: italic;
}
h3 ~ p {
    margin: 0; 
}
.divider > section {
    border-bottom: 2px outset #496DDB;
    padding: 25px 0;
}
.divider > section:last-of-type {
    border-bottom: none;
}
/* Menu
-------------------------------*/
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size:18px;
    padding:0;
    border-bottom: solid 1px rgb(194, 40, 79);
    display: flex;
    justify-content: flex-start;
}
.navbar li{
    list-style-type: none;
    margin: 15px 10px;
}
.navbar a{
    color:#FFFAFF;
    text-decoration: none;
    padding: 10px 10px;
}
.navbar a:hover{
    background-color: rgba(255, 250, 255, 0.11);
}
/* Profile
-------------------------------*/
header {
    background: #D8315B;
}
header a { 
    color:#0A2463;
}
header .content-wrap{
    overflow: hidden;
    margin-top:0;
    padding: 0 0 40px 0;
}

.logo {
    height: 100%;
    width: 128px;
    border-radius: 50%;
    border-color: #FFFAFF;
    border: 2px solid;
    margin-top: 10px;
}
.icon{
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
.tags{
    padding: 0;
    display:flex;
    flex-basis: auto;
    flex-wrap: wrap;
    
}
.tags-sidebar{
    align-items: center;
    justify-content: center;
}
.tags li{
    list-style-type: none;
    background: #0A2463;
    color:#FFFAFF;
    text-decoration: none;
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
    
}
.tags li a{
    color:#FFFAFF;
    text-decoration: none;
}
.tags li:hover{
    background-color:#496DDB;
}
/* Skills
-------------------------------*/
.skills {
    background: #1E1B18;
}
.skills .content-wrap {
    padding-bottom: 0;
}
.skill-item{
    display: flex;
}
.bar {
    display: block;
    background: #FFFAFF;
    border-radius: 16px;
    flex: 150px;
    height: 15px;
    margin: 20px 10px;
}
.skill-description {
    flex: 15%;
}
.progress-bar{
    background: #496DDB;
    border-radius: 5px;
    height: 15px;
}

#Training{
    animation: training 1.5s ease-out forwards;
    width: 0%;
}
@keyframes training {
    from { width: 0%; }
    to { width: 80%;
         background:#0A2463; }
}
#Self-Learning{
    animation: self 1.5s ease-out forwards;
    width: 0%;
}
@keyframes self {
    from { width: 0%; }
    to { width: 100%;
         background:#0A2463; }
}
#Agile{
    animation: agile 1.5s ease-out forwards;
    width: 0%;
}
@keyframes agile {
    from { width: 0%; }
    to { width: 75%;
         background:#0A2463; }
}
#Boardgames{
    animation: bdgames 1.5s ease-out forwards;
    width: 0%;
}
@keyframes bdgames {
    from { width: 0%; }
    to { width: 85%;
         background:#0A2463; }
}
#Time{
    animation: time 1.5s ease-out forwards;
    width: 0%;
}
@keyframes time {
    from { width: 0%; }
    to { width: 90%;
         background:#0A2463; }
}
/* Featured Technologies
-------------------------------*/
.tools .content-wrap{
    padding: 0px 0 20px 0;
}
.tools p {
    margin-bottom: 0;
}
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
/* Work Experience
-------------------------------*/
.work-experience {
    background: #FFFAFF;
    color:#1E1B18; 
}



/* Education
-------------------------------*/
.education{
    color: #1E1B18;
    background-image: url(../images/background-books.jpg);
    background-size: cover;
    background-position: top left;
    padding-bottom: 100px;
}
.education p {
    width: 60%;
}

/* Contact Info
-------------------------------*/
footer {
    background:#0A2463;
    color: #FFFAFF;
}
.contact-list{
    list-style-type: none;
    padding: 0;
}
.contact-list a {
    padding: 15px;
    display: inline-block;
}


/* Responsive
-------------------------------*/
@media screen and (min-width:750px) {
    header, footer {
        text-align: center;
    }
    .project-item img {
        float:left; 
        margin-right: 20px;
    }
    .job-item {
        display:grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 10px;
    }
    .contact-list{
        display: flex;
        justify-content: center;
    }
    .interests-list{
        display: flex;
        justify-content: center;
    }

    .skills-grid{
        display: grid;
        grid-template-columns: auto auto;
    }
    .skill-item{
        align-self: start;
        margin-left: 20px;
    }
}

@media screen and (max-width:749px){
    h1 { 
        font-size:75px;
        margin-bottom: 0px;
    }
    h1, h2 {
      line-height: 1; 
    }
    h2{
        margin-bottom: 5px;
    }
    header .content-wrap{
        padding-top: 10px;
    }
    .education{
        padding-bottom: 50px;
    }
    .education p {
        width: 85%;
    }
    .contact-list a {
        padding: 5px;
    }
    .interests-list{
        padding: 5px;
        display:flex;
        flex-wrap: wrap;
    }
    .skill-item{
        display: block;
    }
    .row{
        display: block;
    }
    .skill-description p{
        margin-bottom: 0;
    }
    .bar {
        margin-top: 3px;
    }
}