<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{ partial "header/header.html" . }}
    <body>
        <div class="grid-container">
            <div class ="content">
                {{ block "content" . }}{{ end }}
            </div>
            <div class ="sidebar">
                    {{ partial "sidebar/sidebar.html" .}}     
            </div>
            
            <div class ="footer">
                {{ block "footer/footer.html" . }}{{ end }}
            </div>
            <script type="text/javascript" src="{{ .Site.BaseURL }}js/lights.js"></script>
        </div>
    </body>  
</html>
