{{ define "content" }}
  <article>
    <h1>{{ .Title }}</h1>
    <div class="div-list">
            {{ range .Paginator.Pages }}
            <section>
            <h2>
                <a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a>
            </h2>
            
            <p class="posts-list-item-description">
                <img src="https://img.icons8.com/material-outlined/24/000000/clock.png" class="icon">
                {{ .ReadingTime }} min read -
                {{ .PublishDate.Format "Jan 2, 2006" }}
            </p>
            <p>
                {{ truncate 500 .Summary}}
            </p>
            </section>
      {{ end }}
      {{ template "_internal/pagination.html" . }}
    </div>
  </article>
{{ end }}