
{{ define "content" }}
<section id="main">
  <h1 id="title">{{ .Title }}</h1>
  <h4 id="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </h4>
  <div>
        <article id="content">
           {{ .Content }}
        </article>
  </div>
</section>
<aside id="meta">
    <div>
    {{ with .Params.tags }}
    <ul class="tags">
      {{ range . }}
        <li> <a href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
    </ul>
    {{ end }}
    </div>
    <div class="navigation-single">
        {{ with .PrevInSection }}
          <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
        {{ end }}
        {{ with .NextInSection }}
          <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
        {{ end }}
    </div>
</aside>
{{ end }}