<!-- *****************  CONTACT INFO / SOCIAL MEDIA  ***************** -->
<footer>
    <div id="contact" class="content-wrap">
      <h2>Let's Keep in Touch!</h2>

      <!-- Social media and contact links. Add or remove any networks. -->
      <ul class="contact-list">
        <li><a href="mailto:hello@erickguillen.dev">hello@erickguillen.dev</a></li>
        <li><a href="https://stackoverflow.com/users/10783334/erick-guillen" target="_blank">StackOverflow</a></li>
        <li><a href="https://www.linkedin.com/in/erickgtorelli" target="_blank">LinkedIn</a></li>
        <li><a href="https://github.com/guillene" target="_blank">Github</a></li>
      </ul>
    </div>
  </footer>