<!DOCTYPE html>
<html lang="en">
  {{ partial "header/header.html" . }}
  <body>
    <main>
      <!-- ***********************  ABOUT / PROFILE  *********************** -->
      <header>
        <div class="content-wrap">
          {{ partial "header/menu.html" .}}
          <img src="images/profile.jpg" alt = "profile picture" class="logo">
          <h1>Erick Guillén</h1>
          <h2>DevOps Engineer</h2>
          <ul class="tags tags-sidebar">
              {{ range first 5 .Site.Taxonomies.tags.ByCount }}
                <li><a href="/tags/{{ .Name | urlize }}">{{ .Name }}</a> </li>
              {{ end }}
          </ul>
        </div>
      </header>

      <!-- ********************  Skills  ********************* -->
      <section class="skills">
        <div class="content-wrap">
          <h2>Skills</h2>
          <div class="skills-grid">
            <section class="skill-item">
              <div class="skill-description">
                <p>Training & Teaching</p>
              </div>
              <div class="bar">
                <div class="progress-bar" id="Training"></div>
              </div>
            </section>
            <section class="skill-item">
                <div class="skill-description">
                  <p>Self-Learning</p>
                </div>
                <div class="bar">
                  <div class="progress-bar" id="Self-Learning"></div>
                </div>
            </section>
            <section class="skill-item">
                  <div class="skill-description">
                    <p>Agile Methodologies</p>
                  </div>
                  <div class="bar">
                    <div class="progress-bar" id="Agile"></div>
                  </div>
            </section>
            <section class="skill-item">
                  <div class="skill-description">
                    <p>Boardgames</p>
                  </div>
                  <div class="bar">
                    <div class="progress-bar" id="Boardgames"></div>
                  </div>
            </section>
              <section class="skill-item">
                  <div class="skill-description">
                    <p>Time Management</p>
                  </div>
                  <div class="bar">
                    <div class="progress-bar" id="Time"></div>
                  </div>
              </section>
          </div>
        </div>
          <!-- End of Skill block. -->
        </div>
      </section>
      <!-- ***********************  Tools  *********************** -->
      <section class="tools">
        <div class="content-wrap">
          <h2>Featured Technologies</h2>
          <p>Some of the main technologies I'm currently using, learning and developing in.</p>
          <!-- Slideshow container -->
          <div class="slideshow-container">

              <!-- Full-width images with number and caption text -->
              <div class="mySlides fade">
                <img src="./images/powershell.png">
              </div>
            
              <div class="mySlides fade">
                <img src="./images/github.png">
              </div>
            
              <div class="mySlides fade">
                <img src="./images/web development.png">
              </div>
            
          <!-- End of Tools block. -->
        </div>
      </section>
      <!-- ***********************  WORK EXPERIENCE  *********************** -->
      <section class="work-experience">
        <div class="content-wrap item-details divider">
          <h2>Work Experience</h2>
          <p>You can check my full job experience at <a href="https://www.linkedin.com/in/erickgtorelli" target="_blank">LinkedIn</a></p>

          <!-- Copy this whole <section> block to add more jobs. -->
            <section class="job-item">
            <div class="job-details">
                <h3>DevOps Integration Engineer</h3>
                <p>Procter and Gamble</p>
                <p>01/2020 - Present</p>
            </div>
            <div class="job-summary">
              <ul>
                <li>Create and manage an Microservices applicaiton running in Azure with a full CI/CD pipeline</li> <li>Provide coaching of DevOps and Agile practices to multiple teams</li> 
              </ul>
            </div>
          </section>
          <section class="job-item">
            <div class="job-details">
                <h3>DevOps Application Manager</h3>
                <p>Procter and Gamble</p>
                <p>06/2017 - 12/2019</p>
            </div>
            <div class="job-summary">
              <ul>
                <li>Lead DevOps Transformation Execution of Latin America EDI Service, successfully becoming on the lead region for the rest of the EDI services across the globe</li> <li>DevOps Advocate/Champion of Order Management Organization, providing multiple trainings and consultancy to other teams</li> 
                <li>Development of a Powershell Module for the Global EDI Operations</li>
              </ul>
            </div>
          </section>
          <section class="job-item">
            <div class="job-details">
                <h3>IT Internship</h3>
                <p>Procter and Gamble</p>
                <p>12/2015 - 06/2017</p>
            </div>
            <div class="job-summary">
              <ul>
                <li>Vendor Governance of B2G and EDI thirdparties </li>
                <li> Forecast and Budget management for over +8 vendors in +11 countries</li> <li>Application documentation of third parties applications for security audits</li> <li>Design and Deploy Test Management practices for EDI projects</li>
              </ul>
            </div>
          </div>
        </section>
        <!-- End of Job block. -->
      </section>

      <!-- ******************  EDUCATION & CERTIFICATIONS ****************** -->
      <section class="education">
        <div class="content-wrap item-details">
          <h2>Education</h2>
          <section>
              <h3>Scrum.org</h3>
              <p>Professional Scrum Master(PMS1) 12/2021</p>
          </section>
          <section>
              <h3>Scaled Agile, Inc.</h3>
              <p>Certified SAFe 5 Agilist 06/2021</p>
          </section> 
          <section>
              <h3>Microsoft</h3>
              <p>Azure Fundamentals 01/2020</p>
          </section>
          <section>
              <h3>DevOps Institute</h3>
              <p>DevOps Foundations 06/2019</p>
          </section>
          <!-- Copy this whole <section> block to add more schools. -->
          <section>
            <h3>Universidad de Costa Rica</h3>
            <p>Bachelor Degree on Computer Science Engineering and Informatics Universidad de Costa Rica 03/2013 – 06/2017</p>
          </section>
          <!-- End of School block. -->
        </div>
      </section>

      {{ partial "footer/footer.html" . }}
    </main>
    <script type="text/javascript" src="./js/slideshow.js"></script>
    <script type="text/javascript" src="{{ .Site.BaseURL }}js/lights.js"></script>
  </body>
</html>
