<head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116565507-2"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
    
          gtag('config', 'UA-116565507-2');
        </script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Erick Guillen {{if ne .Title "Erick Guillen"}}| {{.Title}}{{end}}</title>
        <link rel="shortcut icon" href="{{ .Site.BaseURL }}images/icon.png">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600|Roboto&display=swap" rel="stylesheet">
        {{if eq .Title "Erick Guillen"}}
        <link href="{{ .Site.BaseURL }}css/styles.css" rel="stylesheet">
        {{else}}
        <link href="{{ .Site.BaseURL }}css/blog.css" rel="stylesheet">
        {{end}}
        <link href="{{ .Site.BaseURL }}css/syntax.css" rel="stylesheet">
        <link href="{{ .Site.BaseURL }}css/lights.css" rel="stylesheet">
        
</head>