<svg
   class="svgLights"
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   id="svg8"
   version="1.1"
   viewBox="0 0 866.32801 108.291"
   height="100"
   width="800">
  <defs
     id="defs2" />
  <metadata
     id="metadata5">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     id="layer1">
    <path
       id="path7975"
       d="M 25.991174,10.001123 213.84729,6.6674629 450.44491,14.054066 695.29108,11.486139 822.40781,8.9182129"
       style="fill:none;stroke:#274327;stroke-width:3px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <g
       id="g7800"
       
       transform="translate(-241.28387,-100.43329)">
      <path
         style="opacity:0.85799997;fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 281.95599,124.97326 -21.7321,5.11278 1.45455,1.00425 c -0.6994,3.07557 -1.23623,6.21825 -1.59705,9.31256 -2.30007,19.72448 21.82997,46.63044 21.82997,46.63044 0,0 23.18508,-26.61841 21.33169,-46.63044 -0.28521,-3.07987 -0.846,-6.28113 -1.6449,-9.44763 l 1.45343,-0.86918 z"
         id="path7792"
         class="lights"
          />
      <path
         style="opacity:1;fill:#ffffff;fill-opacity:0.40366971;stroke:none;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.72156863"
         d="m 296.60223,160.50878 c -3.65264,6.78077 -10.07269,17.69551 -13.14526,17.69551 -3.07254,0 6.62691,-14.29924 8.22194,-21.83596 1.62882,-7.69637 7.74422,-14.47979 8.71427,-15.52674 2.08961,-2.25523 0.83696,11.07591 -3.79095,19.66719 z"
         id="path7794" />
      <path
         d="m 267.06455,104.52654 h 29.146 c 6.84084,11.6327 6.84084,25.42414 6.84084,25.42414 0,0 -14.12077,-2.72173 -21.3162,-2.72584 -7.19541,-0.004 -21.51149,2.72584 -21.51149,2.72584 0,0 -0.0541,-13.79144 6.84085,-25.42414 z m -6.84048,25.56005 1.45515,1.00464 z m 42.82743,0 -1.45304,0.86928 z"
         style="opacity:1;fill:#2f512f;fill-opacity:1;stroke:#274327;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         id="path7796" />
      <path
         style="opacity:1;fill:#274327;fill-opacity:1;stroke:#274327;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 267.10903,104.52654 h 6.63742 c -6.20437,13.22521 -6.37742,23.6951 -6.37742,23.6951 l -7.14533,1.72904 c 0,0 -0.0545,-13.79144 6.88533,-25.42414 z"
         id="path7798" />
    </g>
    <g
       transform="translate(-181.73341,-100.43329)"
       id="g1068">
      <path
         id="path1060"
         class="lights"
         d="m 281.95599,124.97326 -21.7321,5.11278 1.45455,1.00425 c -0.6994,3.07557 -1.23623,6.21825 -1.59705,9.31256 -2.30007,19.72448 21.82997,46.63044 21.82997,46.63044 0,0 23.18508,-26.61841 21.33169,-46.63044 -0.28521,-3.07987 -0.846,-6.28113 -1.6449,-9.44763 l 1.45343,-0.86918 z"
         style="opacity:0.85799997;fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
      <path
         id="path1062"
         d="m 296.60223,160.50878 c -3.65264,6.78077 -10.07269,17.69551 -13.14526,17.69551 -3.07254,0 6.62691,-14.29924 8.22194,-21.83596 1.62882,-7.69637 7.74422,-14.47979 8.71427,-15.52674 2.08961,-2.25523 0.83696,11.07591 -3.79095,19.66719 z"
         style="opacity:1;fill:#ffffff;fill-opacity:0.40366971;stroke:none;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.72156863" />
      <path
         id="path1064"
         style="opacity:1;fill:#2f512f;fill-opacity:1;stroke:#274327;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 267.06455,104.52654 h 29.146 c 6.84084,11.6327 6.84084,25.42414 6.84084,25.42414 0,0 -14.12077,-2.72173 -21.3162,-2.72584 -7.19541,-0.004 -21.51149,2.72584 -21.51149,2.72584 0,0 -0.0541,-13.79144 6.84085,-25.42414 z m -6.84048,25.56005 1.45515,1.00464 z m 42.82743,0 -1.45304,0.86928 z" />
      <path
         id="path1066"
         d="m 267.10903,104.52654 h 6.63742 c -6.20437,13.22521 -6.37742,23.6951 -6.37742,23.6951 l -7.14533,1.72904 c 0,0 -0.0545,-13.79144 6.88533,-25.42414 z"
         style="opacity:1;fill:#274327;fill-opacity:1;stroke:#274327;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    </g>
    <g
       id="g1078"
       transform="translate(-122.18295,-100.43329)">
      <path
         style="opacity:0.85799997;fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 281.95599,124.97326 -21.7321,5.11278 1.45455,1.00425 c -0.6994,3.07557 -1.23623,6.21825 -1.59705,9.31256 -2.30007,19.72448 21.82997,46.63044 21.82997,46.63044 0,0 23.18508,-26.61841 21.33169,-46.63044 -0.28521,-3.07987 -0.846,-6.28113 -1.6449,-9.44763 l 1.45343,-0.86918 z"
         id="path1070"
         class="lights" />
      <path
         style="opacity:1;fill:#ffffff;fill-opacity:0.40366971;stroke:none;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.72156863"
         d="m 296.60223,160.50878 c -3.65264,6.78077 -10.07269,17.69551 -13.14526,17.69551 -3.07254,0 6.62691,-14.29924 8.22194,-21.83596 1.62882,-7.69637 7.74422,-14.47979 8.71427,-15.52674 2.08961,-2.25523 0.83696,11.07591 -3.79095,19.66719 z"
         id="path1072" />
      <path
         d="m 267.06455,104.52654 h 29.146 c 6.84084,11.6327 6.84084,25.42414 6.84084,25.42414 0,0 -14.12077,-2.72173 -21.3162,-2.72584 -7.19541,-0.004 -21.51149,2.72584 -21.51149,2.72584 0,0 -0.0541,-13.79144 6.84085,-25.42414 z m -6.84048,25.56005 1.45515,1.00464 z m 42.82743,0 -1.45304,0.86928 z"
         style="opacity:1;fill:#2f512f;fill-opacity:1;stroke:#274327;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         id="path1074" />
      <path
         style="opacity:1;fill:#274327;fill-opacity:1;stroke:#274327;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 267.10903,104.52654 h 6.63742 c -6.20437,13.22521 -6.37742,23.6951 -6.37742,23.6951 l -7.14533,1.72904 c 0,0 -0.0545,-13.79144 6.88533,-25.42414 z"
         id="path1076" />
    </g>
    <g
       transform="translate(-62.632487,-100.43329)"
       id="g1088">
      <path
         id="path1080"
         class="lights"
         d="m 281.95599,124.97326 -21.7321,5.11278 1.45455,1.00425 c -0.6994,3.07557 -1.23623,6.21825 -1.59705,9.31256 -2.30007,19.72448 21.82997,46.63044 21.82997,46.63044 0,0 23.18508,-26.61841 21.33169,-46.63044 -0.28521,-3.07987 -0.846,-6.28113 -1.6449,-9.44763 l 1.45343,-0.86918 z"
         style="opacity:0.85799997;fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
      <path
         id="path1082"
         d="m 296.60223,160.50878 c -3.65264,6.78077 -10.07269,17.69551 -13.14526,17.69551 -3.07254,0 6.62691,-14.29924 8.22194,-21.83596 1.62882,-7.69637 7.74422,-14.47979 8.71427,-15.52674 2.08961,-2.25523 0.83696,11.07591 -3.79095,19.66719 z"
         style="opacity:1;fill:#ffffff;fill-opacity:0.40366971;stroke:none;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.72156863" />
      <path
         id="path1084"
         style="opacity:1;fill:#2f512f;fill-opacity:1;stroke:#274327;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 267.06455,104.52654 h 29.146 c 6.84084,11.6327 6.84084,25.42414 6.84084,25.42414 0,0 -14.12077,-2.72173 -21.3162,-2.72584 -7.19541,-0.004 -21.51149,2.72584 -21.51149,2.72584 0,0 -0.0541,-13.79144 6.84085,-25.42414 z m -6.84048,25.56005 1.45515,1.00464 z m 42.82743,0 -1.45304,0.86928 z" />
      <path
         id="path1086"
         d="m 267.10903,104.52654 h 6.63742 c -6.20437,13.22521 -6.37742,23.6951 -6.37742,23.6951 l -7.14533,1.72904 c 0,0 -0.0545,-13.79144 6.88533,-25.42414 z"
         style="opacity:1;fill:#274327;fill-opacity:1;stroke:#274327;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    </g>
    <g
       id="g1098"
       transform="translate(-3.0820202,-100.4333)">
      <path
         style="opacity:0.85799997;fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 281.95599,124.97326 -21.7321,5.11278 1.45455,1.00425 c -0.6994,3.07557 -1.23623,6.21825 -1.59705,9.31256 -2.30007,19.72448 21.82997,46.63044 21.82997,46.63044 0,0 23.18508,-26.61841 21.33169,-46.63044 -0.28521,-3.07987 -0.846,-6.28113 -1.6449,-9.44763 l 1.45343,-0.86918 z"
         id="path1090"
         class="lights" />
      <path
         style="opacity:1;fill:#ffffff;fill-opacity:0.40366971;stroke:none;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.72156863"
         d="m 296.60223,160.50878 c -3.65264,6.78077 -10.07269,17.69551 -13.14526,17.69551 -3.07254,0 6.62691,-14.29924 8.22194,-21.83596 1.62882,-7.69637 7.74422,-14.47979 8.71427,-15.52674 2.08961,-2.25523 0.83696,11.07591 -3.79095,19.66719 z"
         id="path1092" />
      <path
         d="m 267.06455,104.52654 h 29.146 c 6.84084,11.6327 6.84084,25.42414 6.84084,25.42414 0,0 -14.12077,-2.72173 -21.3162,-2.72584 -7.19541,-0.004 -21.51149,2.72584 -21.51149,2.72584 0,0 -0.0541,-13.79144 6.84085,-25.42414 z m -6.84048,25.56005 1.45515,1.00464 z m 42.82743,0 -1.45304,0.86928 z"
         style="opacity:1;fill:#2f512f;fill-opacity:1;stroke:#274327;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         id="path1094" />
      <path
         style="opacity:1;fill:#274327;fill-opacity:1;stroke:#274327;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 267.10903,104.52654 h 6.63742 c -6.20437,13.22521 -6.37742,23.6951 -6.37742,23.6951 l -7.14533,1.72904 c 0,0 -0.0545,-13.79144 6.88533,-25.42414 z"
         id="path1096" />
    </g>
    <g
       transform="translate(56.468446,-100.43329)"
       id="g1108">
      <path
         id="path1100"
         class="lights"
         d="m 281.95599,124.97326 -21.7321,5.11278 1.45455,1.00425 c -0.6994,3.07557 -1.23623,6.21825 -1.59705,9.31256 -2.30007,19.72448 21.82997,46.63044 21.82997,46.63044 0,0 23.18508,-26.61841 21.33169,-46.63044 -0.28521,-3.07987 -0.846,-6.28113 -1.6449,-9.44763 l 1.45343,-0.86918 z"
         style="opacity:0.85799997;fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
      <path
         id="path1102"
         d="m 296.60223,160.50878 c -3.65264,6.78077 -10.07269,17.69551 -13.14526,17.69551 -3.07254,0 6.62691,-14.29924 8.22194,-21.83596 1.62882,-7.69637 7.74422,-14.47979 8.71427,-15.52674 2.08961,-2.25523 0.83696,11.07591 -3.79095,19.66719 z"
         style="opacity:1;fill:#ffffff;fill-opacity:0.40366971;stroke:none;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.72156863" />
      <path
         id="path1104"
         style="opacity:1;fill:#2f512f;fill-opacity:1;stroke:#274327;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 267.06455,104.52654 h 29.146 c 6.84084,11.6327 6.84084,25.42414 6.84084,25.42414 0,0 -14.12077,-2.72173 -21.3162,-2.72584 -7.19541,-0.004 -21.51149,2.72584 -21.51149,2.72584 0,0 -0.0541,-13.79144 6.84085,-25.42414 z m -6.84048,25.56005 1.45515,1.00464 z m 42.82743,0 -1.45304,0.86928 z" />
      <path
         id="path1106"
         d="m 267.10903,104.52654 h 6.63742 c -6.20437,13.22521 -6.37742,23.6951 -6.37742,23.6951 l -7.14533,1.72904 c 0,0 -0.0545,-13.79144 6.88533,-25.42414 z"
         style="opacity:1;fill:#274327;fill-opacity:1;stroke:#274327;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    </g>
    <g
       id="g1118"
       transform="translate(116.01892,-100.4333)">
      <path
         style="opacity:0.85799997;fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 281.95599,124.97326 -21.7321,5.11278 1.45455,1.00425 c -0.6994,3.07557 -1.23623,6.21825 -1.59705,9.31256 -2.30007,19.72448 21.82997,46.63044 21.82997,46.63044 0,0 23.18508,-26.61841 21.33169,-46.63044 -0.28521,-3.07987 -0.846,-6.28113 -1.6449,-9.44763 l 1.45343,-0.86918 z"
         id="path1110"
         class="lights" />
      <path
         style="opacity:1;fill:#ffffff;fill-opacity:0.40366971;stroke:none;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.72156863"
         d="m 296.60223,160.50878 c -3.65264,6.78077 -10.07269,17.69551 -13.14526,17.69551 -3.07254,0 6.62691,-14.29924 8.22194,-21.83596 1.62882,-7.69637 7.74422,-14.47979 8.71427,-15.52674 2.08961,-2.25523 0.83696,11.07591 -3.79095,19.66719 z"
         id="path1112" />
      <path
         d="m 267.06455,104.52654 h 29.146 c 6.84084,11.6327 6.84084,25.42414 6.84084,25.42414 0,0 -14.12077,-2.72173 -21.3162,-2.72584 -7.19541,-0.004 -21.51149,2.72584 -21.51149,2.72584 0,0 -0.0541,-13.79144 6.84085,-25.42414 z m -6.84048,25.56005 1.45515,1.00464 z m 42.82743,0 -1.45304,0.86928 z"
         style="opacity:1;fill:#2f512f;fill-opacity:1;stroke:#274327;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         id="path1114" />
      <path
         style="opacity:1;fill:#274327;fill-opacity:1;stroke:#274327;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 267.10903,104.52654 h 6.63742 c -6.20437,13.22521 -6.37742,23.6951 -6.37742,23.6951 l -7.14533,1.72904 c 0,0 -0.0545,-13.79144 6.88533,-25.42414 z"
         id="path1116" />
    </g>
    <g
       transform="translate(175.56938,-100.4333)"
       id="g1128">
      <path
         id="path1120"
         class="lights"
         d="m 281.95599,124.97326 -21.7321,5.11278 1.45455,1.00425 c -0.6994,3.07557 -1.23623,6.21825 -1.59705,9.31256 -2.30007,19.72448 21.82997,46.63044 21.82997,46.63044 0,0 23.18508,-26.61841 21.33169,-46.63044 -0.28521,-3.07987 -0.846,-6.28113 -1.6449,-9.44763 l 1.45343,-0.86918 z"
         style="opacity:0.85799997;fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
      <path
         id="path1122"
         d="m 296.60223,160.50878 c -3.65264,6.78077 -10.07269,17.69551 -13.14526,17.69551 -3.07254,0 6.62691,-14.29924 8.22194,-21.83596 1.62882,-7.69637 7.74422,-14.47979 8.71427,-15.52674 2.08961,-2.25523 0.83696,11.07591 -3.79095,19.66719 z"
         style="opacity:1;fill:#ffffff;fill-opacity:0.40366971;stroke:none;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.72156863" />
      <path
         id="path1124"
         style="opacity:1;fill:#2f512f;fill-opacity:1;stroke:#274327;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 267.06455,104.52654 h 29.146 c 6.84084,11.6327 6.84084,25.42414 6.84084,25.42414 0,0 -14.12077,-2.72173 -21.3162,-2.72584 -7.19541,-0.004 -21.51149,2.72584 -21.51149,2.72584 0,0 -0.0541,-13.79144 6.84085,-25.42414 z m -6.84048,25.56005 1.45515,1.00464 z m 42.82743,0 -1.45304,0.86928 z" />
      <path
         id="path1126"
         d="m 267.10903,104.52654 h 6.63742 c -6.20437,13.22521 -6.37742,23.6951 -6.37742,23.6951 l -7.14533,1.72904 c 0,0 -0.0545,-13.79144 6.88533,-25.42414 z"
         style="opacity:1;fill:#274327;fill-opacity:1;stroke:#274327;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    </g>
    <g
       id="g1138"
       transform="translate(235.11985,-100.4333)">
      <path
         style="opacity:0.85799997;fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 281.95599,124.97326 -21.7321,5.11278 1.45455,1.00425 c -0.6994,3.07557 -1.23623,6.21825 -1.59705,9.31256 -2.30007,19.72448 21.82997,46.63044 21.82997,46.63044 0,0 23.18508,-26.61841 21.33169,-46.63044 -0.28521,-3.07987 -0.846,-6.28113 -1.6449,-9.44763 l 1.45343,-0.86918 z"
         id="path1130"
         class="lights" />
      <path
         style="opacity:1;fill:#ffffff;fill-opacity:0.40366971;stroke:none;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.72156863"
         d="m 296.60223,160.50878 c -3.65264,6.78077 -10.07269,17.69551 -13.14526,17.69551 -3.07254,0 6.62691,-14.29924 8.22194,-21.83596 1.62882,-7.69637 7.74422,-14.47979 8.71427,-15.52674 2.08961,-2.25523 0.83696,11.07591 -3.79095,19.66719 z"
         id="path1132" />
      <path
         d="m 267.06455,104.52654 h 29.146 c 6.84084,11.6327 6.84084,25.42414 6.84084,25.42414 0,0 -14.12077,-2.72173 -21.3162,-2.72584 -7.19541,-0.004 -21.51149,2.72584 -21.51149,2.72584 0,0 -0.0541,-13.79144 6.84085,-25.42414 z m -6.84048,25.56005 1.45515,1.00464 z m 42.82743,0 -1.45304,0.86928 z"
         style="opacity:1;fill:#2f512f;fill-opacity:1;stroke:#274327;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         id="path1134" />
      <path
         style="opacity:1;fill:#274327;fill-opacity:1;stroke:#274327;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 267.10903,104.52654 h 6.63742 c -6.20437,13.22521 -6.37742,23.6951 -6.37742,23.6951 l -7.14533,1.72904 c 0,0 -0.0545,-13.79144 6.88533,-25.42414 z"
         id="path1136" />
    </g>
    <g
       transform="translate(294.67032,-100.4333)"
       id="g1148">
      <path
         id="path1140"
         class="lights"
         d="m 281.95599,124.97326 -21.7321,5.11278 1.45455,1.00425 c -0.6994,3.07557 -1.23623,6.21825 -1.59705,9.31256 -2.30007,19.72448 21.82997,46.63044 21.82997,46.63044 0,0 23.18508,-26.61841 21.33169,-46.63044 -0.28521,-3.07987 -0.846,-6.28113 -1.6449,-9.44763 l 1.45343,-0.86918 z"
         style="opacity:0.85799997;fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
      <path
         id="path1142"
         d="m 296.60223,160.50878 c -3.65264,6.78077 -10.07269,17.69551 -13.14526,17.69551 -3.07254,0 6.62691,-14.29924 8.22194,-21.83596 1.62882,-7.69637 7.74422,-14.47979 8.71427,-15.52674 2.08961,-2.25523 0.83696,11.07591 -3.79095,19.66719 z"
         style="opacity:1;fill:#ffffff;fill-opacity:0.40366971;stroke:none;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.72156863" />
      <path
         id="path1144"
         style="opacity:1;fill:#2f512f;fill-opacity:1;stroke:#274327;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 267.06455,104.52654 h 29.146 c 6.84084,11.6327 6.84084,25.42414 6.84084,25.42414 0,0 -14.12077,-2.72173 -21.3162,-2.72584 -7.19541,-0.004 -21.51149,2.72584 -21.51149,2.72584 0,0 -0.0541,-13.79144 6.84085,-25.42414 z m -6.84048,25.56005 1.45515,1.00464 z m 42.82743,0 -1.45304,0.86928 z" />
      <path
         id="path1146"
         d="m 267.10903,104.52654 h 6.63742 c -6.20437,13.22521 -6.37742,23.6951 -6.37742,23.6951 l -7.14533,1.72904 c 0,0 -0.0545,-13.79144 6.88533,-25.42414 z"
         style="opacity:1;fill:#274327;fill-opacity:1;stroke:#274327;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    </g>
    <g
       id="g1158"
       transform="translate(354.22078,-100.4333)">
      <path
         style="opacity:0.85799997;fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 281.95599,124.97326 -21.7321,5.11278 1.45455,1.00425 c -0.6994,3.07557 -1.23623,6.21825 -1.59705,9.31256 -2.30007,19.72448 21.82997,46.63044 21.82997,46.63044 0,0 23.18508,-26.61841 21.33169,-46.63044 -0.28521,-3.07987 -0.846,-6.28113 -1.6449,-9.44763 l 1.45343,-0.86918 z"
         id="path1150"
         class="lights" />
      <path
         style="opacity:1;fill:#ffffff;fill-opacity:0.40366971;stroke:none;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.72156863"
         d="m 296.60223,160.50878 c -3.65264,6.78077 -10.07269,17.69551 -13.14526,17.69551 -3.07254,0 6.62691,-14.29924 8.22194,-21.83596 1.62882,-7.69637 7.74422,-14.47979 8.71427,-15.52674 2.08961,-2.25523 0.83696,11.07591 -3.79095,19.66719 z"
         id="path1152" />
      <path
         d="m 267.06455,104.52654 h 29.146 c 6.84084,11.6327 6.84084,25.42414 6.84084,25.42414 0,0 -14.12077,-2.72173 -21.3162,-2.72584 -7.19541,-0.004 -21.51149,2.72584 -21.51149,2.72584 0,0 -0.0541,-13.79144 6.84085,-25.42414 z m -6.84048,25.56005 1.45515,1.00464 z m 42.82743,0 -1.45304,0.86928 z"
         style="opacity:1;fill:#2f512f;fill-opacity:1;stroke:#274327;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         id="path1154" />
      <path
         style="opacity:1;fill:#274327;fill-opacity:1;stroke:#274327;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 267.10903,104.52654 h 6.63742 c -6.20437,13.22521 -6.37742,23.6951 -6.37742,23.6951 l -7.14533,1.72904 c 0,0 -0.0545,-13.79144 6.88533,-25.42414 z"
         id="path1156" />
    </g>
    <g
       transform="translate(413.77125,-100.4333)"
       id="g1168">
      <path
         id="path1160"
         class="lights"
         d="m 281.95599,124.97326 -21.7321,5.11278 1.45455,1.00425 c -0.6994,3.07557 -1.23623,6.21825 -1.59705,9.31256 -2.30007,19.72448 21.82997,46.63044 21.82997,46.63044 0,0 23.18508,-26.61841 21.33169,-46.63044 -0.28521,-3.07987 -0.846,-6.28113 -1.6449,-9.44763 l 1.45343,-0.86918 z"
         style="opacity:0.85799997;fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
      <path
         id="path1162"
         d="m 296.60223,160.50878 c -3.65264,6.78077 -10.07269,17.69551 -13.14526,17.69551 -3.07254,0 6.62691,-14.29924 8.22194,-21.83596 1.62882,-7.69637 7.74422,-14.47979 8.71427,-15.52674 2.08961,-2.25523 0.83696,11.07591 -3.79095,19.66719 z"
         style="opacity:1;fill:#ffffff;fill-opacity:0.40366971;stroke:none;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.72156863" />
      <path
         id="path1164"
         style="opacity:1;fill:#2f512f;fill-opacity:1;stroke:#274327;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 267.06455,104.52654 h 29.146 c 6.84084,11.6327 6.84084,25.42414 6.84084,25.42414 0,0 -14.12077,-2.72173 -21.3162,-2.72584 -7.19541,-0.004 -21.51149,2.72584 -21.51149,2.72584 0,0 -0.0541,-13.79144 6.84085,-25.42414 z m -6.84048,25.56005 1.45515,1.00464 z m 42.82743,0 -1.45304,0.86928 z" />
      <path
         id="path1166"
         d="m 267.10903,104.52654 h 6.63742 c -6.20437,13.22521 -6.37742,23.6951 -6.37742,23.6951 l -7.14533,1.72904 c 0,0 -0.0545,-13.79144 6.88533,-25.42414 z"
         style="opacity:1;fill:#274327;fill-opacity:1;stroke:#274327;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    </g>
    <g
       id="g1178"
       transform="translate(473.32171,-100.4333)">
      <path
         style="opacity:0.85799997;fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 281.95599,124.97326 -21.7321,5.11278 1.45455,1.00425 c -0.6994,3.07557 -1.23623,6.21825 -1.59705,9.31256 -2.30007,19.72448 21.82997,46.63044 21.82997,46.63044 0,0 23.18508,-26.61841 21.33169,-46.63044 -0.28521,-3.07987 -0.846,-6.28113 -1.6449,-9.44763 l 1.45343,-0.86918 z"
         id="path1170"
         class="lights" />
      <path
         style="opacity:1;fill:#ffffff;fill-opacity:0.40366971;stroke:none;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.72156863"
         d="m 296.60223,160.50878 c -3.65264,6.78077 -10.07269,17.69551 -13.14526,17.69551 -3.07254,0 6.62691,-14.29924 8.22194,-21.83596 1.62882,-7.69637 7.74422,-14.47979 8.71427,-15.52674 2.08961,-2.25523 0.83696,11.07591 -3.79095,19.66719 z"
         id="path1172" />
      <path
         d="m 267.06455,104.52654 h 29.146 c 6.84084,11.6327 6.84084,25.42414 6.84084,25.42414 0,0 -14.12077,-2.72173 -21.3162,-2.72584 -7.19541,-0.004 -21.51149,2.72584 -21.51149,2.72584 0,0 -0.0541,-13.79144 6.84085,-25.42414 z m -6.84048,25.56005 1.45515,1.00464 z m 42.82743,0 -1.45304,0.86928 z"
         style="opacity:1;fill:#2f512f;fill-opacity:1;stroke:#274327;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         id="path1174" />
      <path
         style="opacity:1;fill:#274327;fill-opacity:1;stroke:#274327;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 267.10903,104.52654 h 6.63742 c -6.20437,13.22521 -6.37742,23.6951 -6.37742,23.6951 l -7.14533,1.72904 c 0,0 -0.0545,-13.79144 6.88533,-25.42414 z"
         id="path1176" />
    </g>
    <g
       transform="translate(533.63791,-101.19903)"
       id="g1188">
      <path
         id="path1180"
         class="lights"
         d="m 281.95599,124.97326 -21.7321,5.11278 1.45455,1.00425 c -0.6994,3.07557 -1.23623,6.21825 -1.59705,9.31256 -2.30007,19.72448 21.82997,46.63044 21.82997,46.63044 0,0 23.18508,-26.61841 21.33169,-46.63044 -0.28521,-3.07987 -0.846,-6.28113 -1.6449,-9.44763 l 1.45343,-0.86918 z"
         style="opacity:0.85799997;fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
      <path
         id="path1182"
         d="m 296.60223,160.50878 c -3.65264,6.78077 -10.07269,17.69551 -13.14526,17.69551 -3.07254,0 6.62691,-14.29924 8.22194,-21.83596 1.62882,-7.69637 7.74422,-14.47979 8.71427,-15.52674 2.08961,-2.25523 0.83696,11.07591 -3.79095,19.66719 z"
         style="opacity:1;fill:#ffffff;fill-opacity:0.40366971;stroke:none;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.72156863" />
      <path
         id="path1184"
         style="opacity:1;fill:#2f512f;fill-opacity:1;stroke:#274327;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 267.06455,104.52654 h 29.146 c 6.84084,11.6327 6.84084,25.42414 6.84084,25.42414 0,0 -14.12077,-2.72173 -21.3162,-2.72584 -7.19541,-0.004 -21.51149,2.72584 -21.51149,2.72584 0,0 -0.0541,-13.79144 6.84085,-25.42414 z m -6.84048,25.56005 1.45515,1.00464 z m 42.82743,0 -1.45304,0.86928 z" />
      <path
         id="path1186"
         d="m 267.10903,104.52654 h 6.63742 c -6.20437,13.22521 -6.37742,23.6951 -6.37742,23.6951 l -7.14533,1.72904 c 0,0 -0.0545,-13.79144 6.88533,-25.42414 z"
         style="opacity:1;fill:#274327;fill-opacity:1;stroke:#274327;stroke-width:0.52916664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
    </g>
  </g>
</svg>
